<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miancky.hvislar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.UserProfile" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.ListOfFriendsActivity" />
        <activity android:name=".activities.AddNewFriendsActivity" />
        <activity
            android:name=".activities.AsyncChatActActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SetDescriptionActivity"
            android:label="@string/title_activity_set_description"
            android:parentActivityName=".activities.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miancky.hvislar.activities.RegisterActivity" />
        </activity>
        <activity
            android:name=".activities.CheckNotificationsActivity"
            android:label="@string/title_activity_check_notifications"
            android:parentActivityName=".activities.ListOfFriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miancky.hvislar.activities.ListOfFriendsActivity" />
        </activity>
    </application>

</manifest>